<section class="tarefas" cdkDropListGroup>

  <div class="tarefas__container " id="paraFazer" cdkDropList [cdkDropListData]="parafazer"
    (cdkDropListDropped)="drop($event)">

    <div class="tarefas__cabecalho">
      <h2 class="tarefas__titulo">Para fazer</h2>
      <button class="tarefas__add" (click)="add('Para fazer')">
        <mat-icon class="icon">add</mat-icon>
      </button>
    </div>

    <app-tarefa-card [tarefas]="parafazer" (edit)="edit($event)" (delete)="delete($event)">
    </app-tarefa-card>

  </div>

  <div class="tarefas__container " id="fazendo" cdkDropList [cdkDropListData]="fazendo"
    (cdkDropListDropped)="drop($event)">

    <div class="tarefas__cabecalho">
      <h2 class="tarefas__titulo">Fazendo</h2>
      <button class="tarefas__add" (click)="add('Fazendo')">
        <mat-icon class="icon">add</mat-icon>
      </button>
    </div>

    <app-tarefa-card [tarefas]="fazendo" (edit)="edit($event)" (delete)="delete($event)">
    </app-tarefa-card>

  </div>

  <div class="tarefas__container " id="concluida" cdkDropList [cdkDropListData]="concluida"
    (cdkDropListDropped)="drop($event)">

    <div class="tarefas__cabecalho">
      <h2 class="tarefas__titulo">Concluída</h2>
      <button class="tarefas__add" (click)="add('Concluída')">
        <mat-icon class="icon">add</mat-icon>
      </button>
    </div>

    <app-tarefa-card [tarefas]="concluida" (edit)="edit($event)" (delete)="delete($event)" [highlightExpiredDate]="false">
    </app-tarefa-card>

  </div>

</section>
